node_modules/
.env

# Logs
logs/
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local